.back-btn{
    margin: 8px 0px 0px 24px;
    height:24px;
    cursor: pointer;
}


.container{
    display: flex;
}

.left{
    width: 20%;
}

.middle{
    width:60%;
}

.right{
    width:20%;
}

.text-bold{
   
    font-weight:bold;
    
}

.storyLine{
    margin-top:16px; 
}

.trailerContainer {
    margin: 16px 0px 0px 0px;
}


.yellow{
color:yellow;
cursor:pointer;
}

.black{
color:none;
cursor:pointer;
}

.artists{
    margin: 16px 0px 16px 0px;
}